@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
}

:root {
    --main-color: rgb(239, 9, 224);
    --text-color: #fff;
    --bg-color: rgb(0, 0, 0);    
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

section {
    padding: 4rem 0 3rem;
    
}

/*header*/
header {
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0, 4%, 15% / 10%);
}

/*nav*/
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 700;
    font-style: italic;
}

#cart-icon {
    font-size: 2.4rem;
    cursor: pointer;
}



/*fin de nav*/
/*fin de header*/

.section-title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.shop {
    margin-top: 2rem;
}

/*shop content*/

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    position: relative;
}

.product-box:hover{
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: 0.4s;
}

.product-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product-title {
    margin-bottom: 0.5rem;
}

.price {
    font-weight: 700;
    float: right;
    padding: 10px;
}

.add-cart {
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}

