@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
}

:root {
    --main-color: #a384c1; 
    --text-color: #fff;
    --bg-color: rgb(0, 0, 0);    
}

a {
    color: var(--main-color)
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
    padding: 20px 0px 60px;
}

section {
    padding: 4rem 0 3rem;
    
}

/*header*/
header {
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0, 4%, 15% / 10%);
}

/*nav index*/
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px 0;
    font-size: 18px;
}

.logo {
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 700;
    font-style: italic;
}

.cart-icon {
    display: flex;
    align-items: center;
    margin:auto;
}

.cart-icon a {
    display: flex;
    align-items: center;
}

#cart-icon {
    font-size: 2.4rem;
    cursor: pointer;
}
/*fin de nav*/
/*fin de header*/

.section-title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.shop {
    margin-top: 2rem;
}

/*shop content*/

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    position: relative;
}

.product-box:hover{
    padding: 10px;
    border: 1px solid var(--main-color);
    transition: 0.4s;
    border-radius: 15px;
}

.product-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product-title {
    margin-bottom: 0.5rem;
}

.product-description {
    margin-bottom: 8px;
}

.price {
    font-weight: 700;
    float: right;
    padding: 10px;
    color: var(--main-color);
}

.add-cart {
    background: var(--main-color);
    color: var(--text-color);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

/*carrito page */
.contenedor-carrito {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.total-amount {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--main-color);
    text-transform: uppercase;
}

.delete-btn {
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.buy-btn, 
.seguir-btn {
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 150px;
    padding: 15px;
}

.buy-btn {
    text-transform: uppercase;
}

.seguir-btn {
    width: 100%;
    margin-bottom: 15px;
}


.delete-btn:hover,
.buy-btn:hover {
    background-color: var(--main-color);
}

.delete-btn {
    margin-right: 10px;
    margin-bottom: 15px;
}

/*footer*/
.texto-footer {
    display: flex;
    justify-content: center
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: var(--main-color);
}
/*fin footer*/

/*media queries*/

@media screen and (max-width: 480px) {
    .section-title {
        font-size: 1.2rem;
    }
    
    .shop-content {
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    }
    
    .contenedor-productos {
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    }
    
    .product-img {
        max-width: 100%;
        height: auto;
        margin-bottom: 0.5rem;
    }
    
    .price {
        font-size: 0.9rem;
        padding: 5px;
    }
}